<div class="modal" tabindex="-1" id="editAffectation_{{affectation.id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Affectation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="affectationForm" (ngSubmit)="updateAffectation()">
          <div class="mb-3">
            <label for="projects"  lass="form-label">Select a Project</label>
            <select class="custom-select" formControlName="project" id="projects">
              <option selected disabled>Select a Project</option>
              <option *ngFor="let p of projects" [value]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="consultant" class="form-label">Select a Consultant</label>
            <select class="custom-select " formControlName="consultant" id="consultant">
              <option value="0" selected>Select a Consultant</option>
              <option *ngFor="let c of consultants" [value]="c.id">{{c.firstName}} {{c.lastName}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-warning">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
