<div class="container" *ngIf="affectations?.length==0">No Affectation found</div>

<table class="table" *ngIf="affectations?.length>0">
  <thead>
  <tr>
    <th scope="col">Project</th>
    <th scope="col">Consultant</th>
    <th scope="col">Created at</th>
    <th scope="col">Update/Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of affectations">
    <td>{{a.project?.name}}</td>
    <td>{{a.consultant?.firstName}} {{a.consultant?.lastName}}</td>
    <td>{{a.datetime}}</td>
    <td>
      <button (click)="showModal(a)" class="btn btn-warning mr-1">Edit</button>
      <button (click)="deleteAffectation(a.id)" class="btn btn-danger">Delete</button>
    </td>
    <app-affectation-edit [affectation]="a"></app-affectation-edit>
  </tr>
  </tbody>
</table>
